{% extends 'post/postcreate.html' %}
{% load static %}
{% block create %}
<style>
    .helptext, li {
        display: none;
    }

    .username {
        display: none;
    }
</style>
<a href="{% url 'accounts:editProfile' %}" title="Return to Profile">
    <img class="favouriteGames" src="{% static 'images/review.png' %}">
</a>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input style="letter-spacing: 0px;
                       width: 120px;background: rgb(115,158,225);
                       color: #fff; float: left; padding: 5px;
                       font-family: 'Press Start 2P', cursive;" type="submit" value="Change">
</form>
<script>
    function openNav() {
    }

    {%
        endblock %
    }