<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>main</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/game_create.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Thambi|Bungee|Cuprum|Fredoka+One|Knewave|Monda|Monoton|Permanent+Marker|Press+Start+2P|Righteous&display=swap"
          rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<header>

    <div class="username">
        <div class="dropdown">
            <button class="dropbtn">Username</button>
            <ul class="dropdown-content">
                <li><a class="user-profile-page-button">Profile</a></li>
                <li><a class="login-page-button">Change user</a></li>
                <li><a class="logout-page-button">EXIT</a></li>
                <li><a class="login-page-button">Login</a></li>
            </ul>

        </div>
    </div>

    <a class="main-page-button"><img class="over" src="/static/images/over.png"
                                     style="display: block; margin-left: 19%; margin-right: auto; width: 62%;"></a>


    <div class="sidenav" id="mySidenav" onmouseenter="openNav()" onmouseleave="closeNav()">
        <!--sidnav--->
        <nav class="navbar">
            <a href="main.html"><img src="/static/images/logo.png" style="width: 90%;padding: 10px;"/></a>
            <ul>
                <li>
                    <div class="item">
                        <div class="search-box">
                            <input class="search-txt" name="search" placeholder="Type to search" type="search">
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item blinking"><span class="menu_icon"><img src="/static/images/circle.png"/></span><a
                            href="main.html" id="nav1" style="display: none;">MAIN</a></div>
                </li>

                <li>
                    <div class="dropdown">
                        <div><span class="menu_icon"><img src="/static/images/castle.png"/></span><a href="#" id="nav2"
                                                                                                     style="display: none;">GENRE</a>
                        </div>
                        <ul class="dropdown-content navitem">
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'action' %}">Action</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'adventure' %}">Adventure</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'arcade' %}">Arcade</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'clicker' %}">Clicker</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'fighting' %}">Fighting</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'logic' %}">Logic</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'rpg' %}">RPG</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'race' %}">Race</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'sport' %}">Sport</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'paid' %}">Paid</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'other' %}">Other</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="dropdown">
                        <div class="dropitem"><span class="menu_icon"><img src="/static/images/game.png"/></span><a
                                href="#" id="nav3" style="display: none;">STYLE</a></div>
                        <ul class="dropdown-content navitem">
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'multiplayer' %}">Multiplayer</a>
                            </li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'singleplayer' %}">Singleplayer</a>
                            </li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'girls' %}">For Girls</a></li>
                            <li class="blinking"><a href="{% url 'post:tagged_post' 'boys' %}">For Boys</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="item blinking"><span class="menu_icon"><img src="/static/images/cup.png"/></span><a
                            href="{% url 'post:tagged_post' 'best' %}" id="nav4" style="display: none;">POPULAR</a>
                    </div>
                </li>

                <li>
                    <div class="item blinking"><span class="menu_icon"><img src="/static/images/new.png"/></span><a
                            href="{% url 'post:tagged_post' 'new' %}" id="nav5" style="display: none;">NEW</a></div>
                </li>
            </ul>
        </nav>

    </div>
</header>

<div class="screenAdd">
    <a class="user-profile-page-button" title="Return to Profile">
        <img class="favourite" src="/static/images/review.png">
    </a>
    <h1>Add Game : </h1>
    <form enctype="multipart/form-data" method="post">
        <div>
            <label><b>Title RU</b>
                <input id='game-ru-title' placeholder="Give name for your game" required type="text">
            </label>
            <label><b>Title EN</b>
                <input id='game-en-title' placeholder="Give name for your game" required type="text">
            </label>
            <label><b>Description RU</b>
                <input id='game-ru-description' placeholder="Write some description" required type="text">
            </label>
            <label><b>Description EN</b>
                <input id='game-en-description' placeholder="Write some description" required type="text">
            </label>
            <label><b>Game link</b>
                <input id='game-link' required type="text">
            </label>
            <label><b>Select image:</b>
                <input accept="image/*" id='game-image-link' required type="file">
            </label>
            <label><b>Price</b>
                <input id='game-price' required type="text">
            </label>
            <br>
            <label><b>Choose genres</b>
            </label>
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="items-collection" id='game-genres'>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <input style="letter-spacing: 0; width: 150px;background: rgb(115,158,225); color: #fff; float: left; padding: 5px; font-family: 'Press Start 2P', cursive;"
               type="submit" value="ADD POST">

    </form>
</div>

<footer>
    <img src="/static/images/land.png" style="width: 100%; z-index:1;">
    <div class="col-md-12 text-center">
        <p style=" position: absolute; font-size: 12px; margin: 0 auto; left: 0; right: 0; bottom:1em; letter-spacing: 4px; font-family: 'Fredoka One', cursive;z-index: 4; text-align: center;">
            Copyright by Ranazh Shakieva and Dana Zharkimbaeva. All rights reserved</p>
    </div>
</footer>
<script src="/static/js/genre.js"></script>
<script src="/static/js/game.js"></script>
<script src="/static/js/requests.js"></script>
</body>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("nav1").style.display = "inline-block";
        document.getElementById("nav2").style.display = "inline-block";
        document.getElementById("nav3").style.display = "inline-block";
        document.getElementById("nav4").style.display = "inline-block";
        document.getElementById("nav5").style.display = "inline-block";
        document.getElementById("mainsize").style.width = "90%";
        document.getElementById("mainsize").style.margin = "0 0 0 10%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "60px";
        document.getElementById("nav1").style.display = "none";
        document.getElementById("nav2").style.display = "none";
        document.getElementById("nav3").style.display = "none";
        document.getElementById("nav4").style.display = "none";
        document.getElementById("nav5").style.display = "none";
        document.getElementById("mainsize").style.width = "100%";
        document.getElementById("mainsize").style.margin = "0";
    }
</script>

</html>


