<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Overgame</title>

    <!--Links to external CSS stylesheet-->
    <link href="/static/css/style_login.css" rel="stylesheet" type="text/css"/>

    <!--Links to external JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<style>
    .loginScreen {
        color: #c8deff;
        padding: 10px 40px;
        position: absolute;
        bottom: 13%;
    }

    label {
        padding-bottom: 15px !important;
    }

    label input {
        width: 250px !important;
    }
</style>
<body>
<div class="center">
    <div class="monitor" style="z-index: 10;">
        <div class="screen" style="background-color: #0d0e47;">
            <div class="loginScreen">
                <h1>Login</h1>
                <div>
                    <label><b>Email</b>
                        <input id='email' name="uname" placeholder="Enter email" required type="text">
                    </label>
                    <label><b>Password</b>
                        <input id='password' name="psw" placeholder="Enter Password" required type="password">
                    </label>

                    <button id='button' class="success-page-button" style="letter-spacing: 0;
                       width: 90px;background: rgb(115,158,225);
                       color: #fff;
                       font-family: 'Press Start 2P', cursive;">Login</button>
                    <a class="success-page-button"><input class="success-page-button" name="next" type="hidden"></a>
                    <br><br>
                    <p>If you do not have an account, please, click <a class="register-page-button">here</a></p>
                </div>
            </div>
        </div>
        <div class="light">
        </div>
        <div>
            <button class="mainbutton" onclick="myFunction()">
            </button>
        </div>
    </div>

    <div class="block">
        <div class="cd">
        </div>
        <div class="button1">
        </div>
        <div class="button2 blinking">
        </div>
        <div class="button3">
        </div>
        <div class="button4">
        </div>
    </div>

</div>
<script src="/static/js/login.js"></script>
<script src="/static/js/requests.js"></script>
</body>
</html>