<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Overgame</title>

    <link href="/static/css/style_login.css" rel="stylesheet" type="text/css"/>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        .regScreen {
            width: 450px;
            height: 300px;
            color: #c8deff;
            padding: 10px 40px;
            position: absolute;
            bottom: 20%;
        }

        label {
            padding-bottom: 30px !important;
        }

        label input {
            width: 250px !important;
        }

    </style>
</head>
<body>


<div class="center">

    <div class="monitor" style="z-index: 10;">
        <div class="screen" style="background-color: #0d0e47;">
            <div class="regScreen">
                <h1>Registration</h1>

                <form enctype="multipart/form-data" method="post">
                    <label><b>Username</b>
                        <input id='username' name="uname" placeholder="Enter username" required type="text">
                    </label>
                    <label><b>Email</b>
                        <input id='email' name="psw" placeholder="Enter email" required type="text">
                    </label>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button id='button' style="letter-spacing: 0;
                    height: 30px;
                       width: 120px;background: rgb(115,158,225);
                       color: #fff; margin: 15px;
                       font-family: 'Press Start 2P', cursive;" type="submit" value="Register">Register</button>

                    <a class="login-page-button" title="if you have account">
                        <button style="letter-spacing: 0;
                        height: 30px;
                       width: 120px;background: rgb(115,158,225);
                       color: #fff; margin: 15px;
                       font-family: 'Press Start 2P', cursive;
                        float: right;" type="button">
                            Login
                        </button>
                    </a>

                </form>
            </div>
        </div>
        <div class="light">
        </div>
        <div>
            <button class="mainbutton" onclick="myFunction()">

            </button>
        </div>
    </div>

    <div class="block">
        <div class="cd">
        </div>
        <div class="button1">
        </div>
        <div class="button2 blinking">
        </div>
        <div class="button3">
        </div>
        <div class="button4">
        </div>
    </div>

</div>
<script src="../static/js/register.js"></script>
<script src="/static/js/requests.js"></script>
</body>

</html>